$matte_black: #28282b;
$cream: #fef5ea;
$cloud_wisp: #e7f6ff;
$cold_steel: #e3edf8;
$lavender_whip-light: #faf5ff;
$lavender_whip: #c9a6ec;
$lavender_whip-dark: #aa6bea;
$candy_floss-light: #ffedfa;
$candy_floss: #f1b4e0;
// $mojito_breeze: #e4f3e0;
$mojito_breeze: #bcf3ac;
$garden_shed: #d6efda;
// $coral: #ff9f7d;
$coral: #f3af96;

$bg: $lavender_whip;
$accent: $coral;
